<h1> You Are What You Do Not Eat </h1>


<div class="main_image">




</div>

<div class="nav_bar">
  <ul class="menu">


        <% if user_signed_in? %>
    <li><%= button_to "Sign Out", destroy_user_session_path, :method => :delete, :class => "list" %></li>
        <% else %>
    <li><%= button_to 'Sign In', new_user_session_path, :class => "list" %></li>

    <% end %>
  </ul>
</div>

<p>
  <a href="<%= posts_path %>">View all posts</a>
</p>
