
/*
 <div class="nav_bar">
   <ul class="menu">
     <li><%= link_to "Home", root_path, :class => "list" %></li>
     <li><%= link_to "Profiles", profiles_path, :class => "list" %></li>
     <li><%= link_to "Add A Post", new_post_path, :class => "list" %></li>

     <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete, :class => "list" %></li>

     <li><%= link_to 'Sign in', new_user_session_path, :class => "list" %></li>

     <% end %>
   </ul>
 </div>*/



h1
 {
   text-align: center;
   font-family: 'Oswald', sans-serif;
   font-size: 28px;
   color: #383737;
   line-height: 28px;
 }


 ul
 {
     list-style-type: none;
 }
